@charset "UTF-8";
/*css reset*/
body { margin: 0 auto; background-color: #fff; font-family: "Microsoft YaHei UI", "微软雅黑", \5FAE\8F6F\96C5\9ED1; font-size: 14px; color: #333; }
a, a:link, a:visited, a:hover { text-decoration: none; font-family: "Microsoft YaHei UI", "微软雅黑", \5FAE\8F6F\96C5\9ED1; font-size: 14px; color: #333; }
ul, li, p, a { margin: 0; padding: 0; list-style: none; }
img { border: none; display: inline-block; }
/*END css reset*/

/*my css reset*/
h1, h2, h3, h4, h5, p, a, span { margin: 0; padding: 0; font-weight: normal; font-size: 14px; color: #333; }
iframe { margin: 0; padding: 0; display: block; }
.fl { float: left; }
.fr { float: right; }
.mb1 { margin-bottom: 10px; }
.mb2 { margin-bottom: 20px; }
.mb3 { margin-bottom: 30px; }
.mb4 { margin-bottom: 40px; }
.mb5 { margin-bottom: 50px; }
a img,img,embed,object { border:none;vertical-align:middle; }
/*END my css reset*/

/*Header*/
.box { overflow: hidden; width: 100%;position: relative; }
.content { max-width: 1200px;margin: 0 auto;overflow: hidden; }
/* Head-Top */
.head_top { width: 100%;height: 40px;line-height: 40px;background-color: #fff; }
/* Head-Logo */
.top_logo { float: left; }
.top_logo img { float: left;margin-top: 8px; }
.top_logo a { float: left;margin-left: 10px;font-size: 14px;color: #5f5e5e;display: block; }
/* Head-Search */
.top_search { float: right;margin-top: 7px; margin-right: 20px; width: 150px;height: 23px; position: relative;border: 1px solid #e6e6e6; }
.top_search input.serinpt { height: 21px; width: 119px;padding-left: 5px; border: none; color: #757574; font-size: 14px; position: absolute; top: 0px; left: 1px; }
.top_search input.serbtn { height: 23px; width: 26px; border: none; cursor: pointer; position: absolute; top: 0px; right: 0px; background: url(../images/top_searchIcon.png) no-repeat;background-position: 6px 5px;background-color: #266e07; }
/* Head-Mail */
.top_mail { float: right; margin-right: 15px; }
.top_mail img { float: left; margin-right: 7px; margin-top: 13px; }
.top_mail a { line-height: 40px; float: left; font-size: 14px; }
/* Head-Sys */
.top_sys { float: right; }
.top_sys a { font-size: 14px; }
.top_sys img { float: left; margin-right: 7px; margin-top: 11px; }
/* Head-Logo */
.head_logo { background: url(../images/LogoBg.jpg) no-repeat;background-position: top center;width: 100%; height: 323px; }
/* Head-Nav */
.head_nav { width: 100%; height: 57px;line-height: 61px;background-color: #266e07;position:relative; }
.nav { max-width: 1200px;margin: 0 auto; }
.nav h3 a { display: block;font-size: 18px; color: #fff;height: 57px;padding: 0 25px;text-align: center;margin: 0 24px; }
.nav h3 a.nav_first { width: 120px;padding: 0;text-align: center; }
.nav .m { float:left;position:relative;z-index:1; }
.nav .sub { display:none;position:absolute;left:0px;top:57px;z-index:10;width:120px;border-top:0;background-color:#275912;filter:alpha(opacity=80);opacity:0.8;margin-left: 25px;padding: 8px 0 12px 0; }
.nav .sub li { text-align:center;margin-bottom:-1px; }
.nav .sub li a { display:block;color:#fff;font-size:18px;line-height: 20px;padding: 12px 5px;width: 110px; }
.nav .sub li a:hover { color:#fff;background-color: #1b3e0d; }
.nav .block { height:53px;width:120px;background:#275912;border-top: 4px solid #fff;position:absolute;left:0;top:0;overflow:hidden; margin-left: 28px; }
/*END Header*/

/*Index*/
.iIndex { overflow: hidden; width: 100%;position: relative;padding: 50px 0; }
.ibox { max-width: 1138px;overflow: hidden;border: 1px solid #dbd8d8;border-bottom: 4px solid #f1f0f0;padding: 30px;display: flex;justify-content: space-between; }
/*SurSlide*/
.hiSlideBox { width: 470px; height: 292px;float: left; }
.hiSlider li { position: relative; }
.hiSlider li .hiSliderTitle { overflow: hidden; width: 95.5%; height: 50px; line-height: 50px;padding-left: 20px;background: url(../images/slidetitlebg.png) no-repeat; display: block; font-size: 18px; color: #fff; position: absolute; bottom: 0; left: 0; }
.hiSlider li .hiSliderImg { width: 470px; height: 292px; display: block; }
.hiSlider-pages, .hiSlider-title { position: absolute; z-index: 3; }
.hiSlider-btn-prev, .hiSlider-btn-next { position: absolute; z-index: 5; top: 40%; height: 70px; width: 40px; background: url(../images/lbtprew.png) no-repeat; margin-top: -15px; text-indent: -200px; overflow: hidden; opacity: .3; filter: alpha(opacity:30); }
.hiSlider-btn-prev { left: 1px; }
.hiSlider-btn-next { right: 1px; background: url(../images/lbtnext.png) no-repeat; }
.hiSlider-btn-prev:hover, .hiSlider-btn-next:hover { opacity: .8; filter: alpha(opacity:80); }
.hiSlider-pages { bottom: 15px; right: 20px; text-align: right; }
.hiSlider-pages a { height: 12px; width: 12px; margin: 0 4px; display: inline-block; overflow: hidden; text-indent: -100px; font-size: 0; border-radius: 50%; background: #fff;filter:alpha(opacity=60);opacity:0.6; }
.hiSlider-pages a.active { background: #ee0010; }
/* SurTab */
.SurTab1 { width: 644px;position: relative;float: right; }
.SurTab1 .SurTabMenu1 { height: 34px; background: url(../images/tabbg.jpg) repeat-x;margin-bottom: 8px;  }
.SurTab1 .SurTabMenu1 ul { height: 34px; float: left; position: absolute; top: 0px; left: 0px; }
.SurTab1 .SurTabMenu1 ul li { float: left; cursor: pointer; margin-right: 10px; }
.SurTab1 .SurTabMenu1 ul li a { font-size: 18px; color: #7b7b7b; height: 31px; display: block; padding: 0 10px; }
.SurTab1 .SurTabMenu1 ul li.on a { border-bottom: 3px solid #327615; color: #266e07; }
.SurTab1 .SurTabBox { overflow: hidden; width: 100%; }
.SurTabBox>a { position: absolute; top: 2px; right: 0; font-size: 14px; color: #737070;padding-right: 20px;background: url(../images/more.png) no-repeat;background-position: 36px 3px;background-position: 36px 5px\9\0; }
/* Tab List */
.list { overflow: hidden; width: 100%; }
.list li { position: relative; padding-left: 25px; height: 32px; line-height: 32px; }
.list li a{ width: 85%; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.list b { position: absolute; top: 14px; left: 10px; display: block; width: 4px; height: 4px; background-color: #b5b7b8;border-radius: 50%; }
.list span { position: absolute; top: 0; right: 0; }
.list li a:hover { text-decoration: underline;color:#266e07; }
/* jgsz */
.jgsz { width: 100%; height: 128px;background: url(../images/jgszbg.jpg) no-repeat; }
.jgszbtnbox { float: right;margin-right: 30px;padding-top: 34px; }
.jgszbtnbox a { margin-left: 26px;display: inline-block;background: url(../images/jgszBtn.png) no-repeat;width: 149px; height: 59px;line-height: 59px;padding-left: 50px;font-size: 18px; color: #154f0b;text-align: center; }
.jgszbtnbox a:hover { background: url(../images/jgszBtnH.png) no-repeat; }
/* iPic */
.ipic { overflow: hidden; width: 100%;display: flex;justify-content: space-between; }
.ipic img {display: block;width: 585px; height: 92px; }
/* SurTab2 */
.SurTab2 { width: 100%;position: relative; }
.SurTab2 h2 { line-height: 34px; height: 34px;padding: 0 20px;background-color: #266e07;font-size: 16px; color: #fff;float: left; }
.SurTab2 .SurTabMenu2 { height: 34px; background: url(../images/tabbg.jpg) repeat-x;margin-bottom: 25px; }
.SurTab2 .SurTabMenu2 ul { float: left;margin-left: 25px; }
.SurTab2 .SurTabMenu2 ul li { float: left; cursor: pointer; }
.SurTab2 .SurTabMenu2 ul li a { font-size: 16px;color: #605e5e; height: 31px; display: inline-block; padding: 0 5px; }
.SurTab2 .SurTabMenu2 ul li b { display: inline-block;width: 1px; height: 15px;background-color: #dcd9d9;margin: 0 15px; }
.SurTab2 .SurTabMenu2 ul li:last-of-type b { display: none; }
.SurTab2 .SurTabMenu2 ul li.on a { border-bottom: 2px solid #266e07; }
/* dlist */
.dlist { width: 530px;overflow: hidden; }
.dlist li a { width: 95%; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
/* SurTab3 */
.SurTab3 { width: 530px;position: relative; }
.SurTab3 .TabTitle { width: 100%; overflow: hidden; height: 33px;border-bottom: 1px solid #dcd9d9;position: relative;margin-bottom: 5px; }
.SurTab3 .TabTitle h2 { font-size: 18px; color: #266e07;float: left; }
.SurTab3 .SurTabMenu3 { position: relative;width: 100%; }
.SurTab3 .SurTabMenu3 ul { float: left;margin-bottom: 15px;width: 100%; }
.SurTab3 .SurTabMenu3 ul li { float: left; cursor: pointer; margin-right: 2px; }
.SurTab3 .SurTabMenu3 ul li a { font-size: 16px; color: #605e5e; height: 30px;line-height: 30px; display: block; padding: 0 12px;margin-top: 10px; }
.SurTab3 .SurTabMenu3 ul li.on a { background: #266e07; color: #fff; }
.SurTab3 .SurTabContent { width: 100%; overflow: hidden; }
.SurTab3Fm { float: left;margin-left: 20px; }
.SurTab3 .TabPicBox { width: 100%; overflow: hidden; }
.SurTab3 .TabPicBox img { display: block;width: 315px; height: 100px;margin: 15px 0; }
.SurTab3 .TabPicBox p { font-size: 14px; color: #333;line-height: 24px; }
/* WebLink */
.weblinkbox { max-width: 1198px;min-height: 140px;border: 1px solid #d3d3d3;position: relative;overflow: hidden; }
.weblinkbox .wbg { width: 326px; height: 140px;background: url(../images/weblinkbg.jpg) no-repeat;position: absolute;top: 0; left: 0;z-index: 1; }
/* SurTab */
.SurTab4 { width: 910px;margin: 20px 0 0 240px;position: relative;z-index: 10; }
.SurTab4 .SurTabMenu4 { height: 33px; line-height: 33px;border-bottom: 1px solid #eae9e9;position: relative;margin-bottom: 5px; }
.SurTab4 .SurTabMenu4 ul { height: 30px; float: left; position: absolute; top: 0px; left: 0px; }
.SurTab4 .SurTabMenu4 ul li { float: left; cursor: pointer; margin-right: 5px; }
.SurTab4 .SurTabMenu4 ul li a { font-size: 14px; color: #333; height: 33px;line-height: 33px; display: block; padding: 0 20px; }
.SurTab4 .SurTabMenu4 ul li.on a { color: #fff;background-color: #c73d3d;border-top-left-radius: 5px;border-top-right-radius: 5px; }
.WebLinkBox { overflow: hidden; width: 100%;padding-bottom: 10px; }
.WebLinkBox li { float: left;margin-top: 10px; }
.WebLinkBox li a { font-size: 14px; color: #333; }
.WebLinkBox li b { width: 1px; height: 15px;margin: 0 15px -2px 15px;background-color: #6e6e6e;display: inline-block; }
.WebLinkBox li:last-of-type b { display: none; }
/*END Index*/

/*Footer*/
.foot_box { width: 100%; height: 186px;background-color: #438238; }
.foot_cc { height: 186px;width: 750px;margin: 0 auto;overflow: hidden; }
.foot_logo { width: 50px; height: 60px;background: url(../images/footlogo.png) no-repeat;float: left;margin-top: 60px; }
.foot_tt { width: 650px;float: right;margin-top: 50px; }
.foot_tt p { text-align: center;font-size: 14px; color: #fff;line-height: 26px; }
.foot_tt a { font-size: 14px; color: #fff; }
.foot_tt a:hover { text-decoration: underline;color:#266e07; }
/*END Footer*/

/* Gl */
.gxlpd { padding: 30px 0 50px 0; }
.disf { display: flex;justify-content: space-between; }
/* currbox */
.currbox { width: 100%; overflow: hidden;margin-bottom: 12px; }
.currbox span, .currbox a { color: #a4a4a4; font-size: 14px; }
.currbox a { display: inline-block; }
.currbox b { display: inline-block;width: 15px; height: 18px;background: url(../images/curicon.png) no-repeat;margin: 5px 10px -4px 32px; }
.gxlContent { max-width: 1138px;border: 1px solid #ddd9da;padding: 30px;overflow: hidden; }
/* LeftNavBox */
.LeftNavBox{ width: 224px;overflow: hidden;float: left; }
.LeftNavTitle { width: 100%; height: 62px;line-height: 62px;display: flex;align-items: center;background: url(../images/leftnavtitlebg.jpg) no-repeat; }
.LeftNavTitle>h2 { font-size: 20px; color: #fff;padding-right: 5px;margin-left: 20px; }
.LeftNavTitle b { width: 74px; height: 62px;background: url(../images/leftnavbg.jpg) no-repeat; }
.LeftNavList { width: 100%;overflow: hidden;padding: 15px 0;background-color: #f5f5f5;border-bottom: 1px solid #266e08; }
.LeftNavList li { width: 100%;padding: 8px 0;border-bottom: 2px solid #fff;display: block; }
.LeftNavList li:last-of-type{ border-bottom: none; }
.LeftNavList a  { display: block;padding: 0 20px;font-size: 16px; color: #191919;line-height: 24px; }
/* RightContents */
.RightContents { width: 870px;float: right; }
.RightContents h2 { border-bottom: 1px solid #dadada;padding-bottom: 15px;padding-left: 20px;font-size: 22px; color: #266e08;margin-bottom: 20px; }
/* Gl List */
.glListBox { width: 95%; margin: 0 auto; }
.gllist { overflow: hidden; width: 100%;margin-bottom: 20px; }
.gllist li { position: relative; height: 34px; line-height: 34px; }
.gllist li a{ width: 90%; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.gllist span { position: absolute; top: 0; right: 0; }
.gllist li a:hover { text-decoration: underline;color:#266e07; }
/*Page*/
.pagebox { margin-top: 27px; text-align: center; padding-bottom: 37px; clear: both; }
.pagebox ul { display: inline; font-size: 0px; }
.pagebox ul li { height: 28px; min-width: 28px; line-height: 28px; display: inline-block; margin-right: 12px; }
.pagebox ul li a { min-width: 28px; height: 100%; border: 1px solid #dae0ee; padding: 0px 7px; box-sizing: border-box; display: block; font-size: 14px; color: #666; text-align: center; border-radius: 3px; }
.pagebox ul li a:hover { border: 1px solid transparent; color: #fff; background-color: #349ed8; }
.pageboxactive a { border: 1px solid transparent !important; color: #fff !important; background-color: #349ed8; }
.pagebox ul li font { height: 25px; font-size: 14px; color: #666; text-align: center; }
.pagebox ul li input { height: 23px; border: 1px solid #dae0ee; background-color: #f1f4fb; border-radius: 3px; width: 50px !important; margin: 0 !important; text-align: center; }
.pagebox ul li button { height: 25px; border: 1px solid #dae0ee; background-color: #fefefe; border-radius: 3px; color: #666; }
.current{}
.current:hover{}
/*END Page*/
/* END Gl */

/* Xl */
.xlContents{ width: 95%;margin: 0 auto; }
.xlTitle { width: 100%;overflow: hidden; }
.xlTitle h5 { font-size: 28px;font-weight: bold; text-align: center; padding-top: 30px;margin-bottom: 40px;line-height: 38px; }
.message { height: 30px; position: relative; margin-bottom: 40px; border-bottom: 1px solid #dadada; }
.message p, .sysbox span { font-size: 14px; color: #aaa; }
.time { float: left;margin-left: 50px; }
.comeword { float: left;margin-left: 30px; }
.sysbox { float: right; }
.message a.print { float: right;font-size: 14px; color: #aaa; }
#closewindow { font-size: 14px; color: #aaa;display: block;float: right;margin-right: 50px; }
.index_switchsize span { cursor: pointer; }
.pages_content { padding-bottom: 70px; width: 96%; margin: 0 auto;overflow: hidden;margin-bottom: 50px;border-bottom: 2px solid #ddd; }
.pages_content p { line-height: 36px;font-size: 16px;margin-bottom: 30px; }
.pages_content img { display: block;margin: 0 auto; }
.downloadsbox { overflow: hidden; width: 88%; margin: 0 auto; margin-bottom: 25px;padding-bottom: 20px; }
.downloadsbox h5 { width: 100%; font-size: 18px; color: #448239;margin: 0 0 20px 10px; }
.ddlist li { position: relative; padding: 10px 0 10px 25px; }
.ddlist li a { color: #448239;font-size: 16px;width: 85%; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ddlist li:hover { background-color: #f1f1f1; }
.ddlist i { display: block;width: 3px; height: 3px;background-color: #448239;position: absolute;top: 19px; left: 10px; }
/* END Xl */

/* PicGl */
.gxlContent>h2 { width: -webkit-fill-available;border-bottom: 1px solid #dadada;padding-bottom: 15px;padding-left: 30px;font-size: 22px; color: #266e08;margin-bottom: 40px; }
.picNewsLists { width: 98%; margin: 0 auto;overflow: hidden; }
.picNewsLists a { width: 325px;height: 325px;display: block;float: left;margin: 0 22px 30px 22px;position: relative; }
.picNewsLists img { display: block;width: 325px; height: 226px;margin-bottom: 15px; }
.picNewsLists span { font-size: 16px;line-height: 24px;margin-bottom: 5px;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;padding: 0 5px; }
.picNewsLists b { display: block;font-size: 16px;color: #888;font-weight: normal;position: absolute;bottom: 12px; left: 5px; }
/* END PicGl */

/* Form */
.FormBox { width: 90%; margin: 0 auto;margin-bottom: 70px; }
.FormBox p { color: #a3a3a3;margin-bottom: 50px; }
.FormContent  { width: 100%; min-height: 510px; }
.FormBtn { width: 305px;margin: 0 auto;margin-top: 30px; }
.FormBtn input { width: 140px; height: 40px;background-color: #266e08;border: none;border-radius: 3px;line-height: 40px;font-size: 16px; color: #fff;text-align: center;margin-right: 10px;cursor: pointer; }
/* jgfk */
.jgfkform { width: 90%; height: 66px;margin: -20px auto 20px auto; }
.jgfkform label { font-size: 16px; color: #333;float: left;margin-top: 24px; }
.jgfkform input { float: left;width: 463px; height: 36px;line-height: 36px;background-color: #fff;border: 1px solid #c8c8c8;font-size: 16px; color: #9f9f9f;margin-top: 15px;padding-left: 15px; }
.jgfkform input.jzjgfkbtn { float: left;width: 116px; height: 38px;line-height: 38px;border: none;background-color: #266e08;margin-left: 15px;font-size: 16px; color: #fff; }
/* Form Lists */
.formlist { overflow: hidden; width: 90%;margin: 0 auto; }
.formlist li { position: relative; padding-left: 20px; height: 34px; line-height: 34px; }
.formlist li a { width: 90%; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;font-size: 16px; }
.formlist b { position: absolute; top: 12px; left: 0; display: block; width: 7px; height: 11px; background: url(../images/formlistdot.png) no-repeat; }
/* END Form */

/* Map */
.mapbox { min-height: 500px;width: 100%;margin: 40px 0; }
.mapcc { margin-bottom: 12px;width: 100%; overflow: hidden; }
.mapcc h3 { font-size: 18px;color: #fff;background-color: #448239;font-weight: bold;margin-bottom: 25px;padding-left: 25px;height: 44px;line-height: 44px; }
.mapcc ul { width: 94%;overflow: hidden;margin: 0 auto; }
.mapcc li { float: left;border-right: 1px solid #666;padding-right: 20px;margin: 0 20px 20px 0; }
.mapcc li:last-of-type { border-right: none; }
.mapcc a { font-size: 16px; }
/* END Map */

/*  */
.no_pb{border-bottom: none;padding-bottom: 5px;}
.xlContents h2 { border-bottom: 1px solid #dadada;padding-bottom: 15px;padding-left: 20px;font-size: 22px; color: #266e08;margin-bottom: 20px; }
.xlFormBox{width: 92%;margin: 0 auto;}
.xlFormBox p {font-size: 14px; color: #a3a3a3;margin: 30px 0 40px 0; }
.FormCc1{width: 100%;min-height: 130px;}
.FormBtn { width: 305px;margin: 0 auto;margin-top: 30px; }
.FormBtn input { width: 140px; height: 40px;background-color: #266e08;border: none;border-radius: 3px;line-height: 40px;font-size: 16px; color: #fff;text-align: center;margin-right: 10px;cursor: pointer; }

/* Ask */
.askbox{width: 92%; overflow: hidden;margin: 30px auto;}
.ask_list{width: 100%; overflow: hidden;}
.ask{width: 100%; overflow: hidden;margin-bottom: 40px;}
.ask_q{width: 100%; overflow: hidden;margin-bottom: 15px;}
.ask_q b{width: 32px; height: 32px;background-color: #933702;border-radius: 2px;line-height: 32px;text-align: center;font-size: 16px; color: #fff;font-weight: normal;display: block;margin: 0 15px 0 0;float: left;}
.ask_q span{font-size: 20px; color: #333;display: inline-block;margin: 4px 0 0 0;}
.ask_a{width: 100%; overflow: hidden;}
.ask_a b{width: 32px; height: 32px;background-color: #266e08;border-radius: 2px;line-height: 32px;text-align: center;font-size: 16px; color: #fff;font-weight: normal;display: block;margin: 0 15px 0 0;float: left;}
.ask_a span{font-size: 16px; color: #191919;background-color: #f7f8fa;padding: 15px;width: 90%;display: inline-block;line-height: 34px;}
